html { 
  background: url(<%= asset_path 'timer_bg.jpg' %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.clock-position {
    width: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
}
